* {
	margin: 0;
	padding: 0;
	box-sizing: "border-box";
  }

body, html {
	height: 100%;
	width: 100%;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	background-color: lightpink;
	width: 500px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.input-container {
	border: 1px solid black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	margin: 12px 0;
}

.input-container input[type="text"] {
	border: none;
	background: transparent;
	color: #fff;
	font-size: 1.2rem;
	outline: none;
}

.fa-copy {
	cursor: pointer;
	color: #616161;
	transition: 0.1s;
}

.fa-copy:hover {
	color: #919191;
}

.btn {
	padding: 6px 12px;
	border: none;
	background-color: rgb(19, 19, 19);
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}

.btn:hover {
	background-color: green;
}

.btn:active {
	transform: scale(0.95);
}


